### Import Libraries

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns

#Set the plotting style.
sns.set_style("whitegrid")

In [3]:
### Importing Libraries for Statistical Modeling and Evaluation

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

import statsmodels.formula.api as smf
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

from statsmodels.stats.anova import anova_lm

### Load the dataset

In [11]:
student_data = pd.read_excel('/Users/hamdahassan/DATA5100-group-project/data/Student_Performance_Data(SPD24).xlsx')

### Explore the contents of the dataset
- Checking for nulls, duplicates, etc.
- Checkin for extreme outliers. None exist, which means there is no need to drop or escale anything.

In [12]:
student_data.head()

,Student ID,Gender,Age,Grade Level,Attendance Rate,Study Hours,Parental Education Level,Parental Involvement,Extracurricular Activities,Socioeconomic Status,...,Bullying Incidents,Special Education Services,Counseling Services,Learning Disabilities,Behavioral Issues,Attendance of Tutoring Sessions,School Climate,Parental Employment Status,Household Size,Performance Score
0,1,Male,15,12,80.487800,2.764496,Bachelor's,High,Yes,High,...,1,No,Yes,Yes,Yes,No,Negative,Unemployed,3,Low
1,2,Female,17,12,96.242678,4.534785,Bachelor's,High,Yes,Low,...,3,Yes,Yes,No,Yes,No,Negative,Employed,3,Medium
2,3,Male,14,9,84.649681,2.008148,Bachelor's,Medium,Yes,Low,...,0,Yes,No,Yes,No,No,Neutral,Employed,3,High
3,4,Male,14,10,86.158599,3.698293,High School,High,No,Low,...,3,Yes,No,No,Yes,No,Positive,Employed,4,Medium
4,5,Male,15,10,88.487638,3.408604,Associate,Low,No,Middle,...,1,Yes,Yes,No,No,No,Positive,Employed,6,Low

### About the dataset
- We don't have any missing values in any of the rows.
- Data includes both numerical and categorical variables

In [13]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98000 entries, 0 to 97999
Data columns (total 41 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Student ID                       98000 non-null  int64
 1   Gender                           98000 non-null  object
 2   Age                              98000 non-null  int64
 3   Grade Level                      98000 non-null  int64
 4   Attendance Rate                  98000 non-null  float64
 5   Study Hours                      98000 non-null  float64
 6   Parental Education Level         98000 non-null  object
 7   Parental Involvement             98000 non-null  object
 8   Extracurricular Activities       98000 non-null  object
 9   Socioeconomic Status             98000 non-null  object
 10  Previous Academic Performance    98000 non-null  float64
 11  Class Participation              98000 non-null  object
 12  Health Status                    98000 non-null  object
 13  Access to Learning Resources     98000 non-null  object
 14  Internet Access                  98000 non-null  object
 15  Learning Style                   98000 non-null  object
 16  Teacher-Student Relationship     98000 non-null  object
 17  Peer Influence                   98000 non-null  object
 18  Motivation Level                 98000 non-null  object
 19  Hours of Sleep                   98000 non-null  float64
 20  Diet Quality                     98000 non-null  object
 21  Transportation Mode              98000 non-null  object
 22  School Type                      98000 non-null  object
 23  School Location                  98000 non-null  object
 24  Homework Completion Rate         98000 non-null  float64
 25  Reading Proficiency              98000 non-null  float64
 26  Math Proficiency                 98000 non-null  float64
 27  Science Proficiency              98000 non-null  float64
 28  Language Proficiency             98000 non-null  float64
 29  Physical Activity Level          98000 non-null  object
 30  Screen Time                      98000 non-null  float64
 31  Bullying Incidents               98000 non-null  int64
 32  Special Education Services       98000 non-null  object
 33  Counseling Services              98000 non-null  object
 34  Learning Disabilities            98000 non-null  object
 35  Behavioral Issues                98000 non-null  object
 36  Attendance of Tutoring Sessions  98000 non-null  object
 37  School Climate                   98000 non-null  object
 38  Parental Employment Status       98000 non-null  object
 39  Household Size                   98000 non-null  int64
 40  Performance Score                98000 non-null  object
dtypes: float64(10), int64(5), object(26)
memory usage: 30.7+ MB

In [18]:
student_data.duplicated().sum()

np.int64(0)

In [20]:
student_data.describe()

,Student ID,Age,Grade Level,Attendance Rate,Study Hours,Previous Academic Performance,Hours of Sleep,Homework Completion Rate,Reading Proficiency,Math Proficiency,Science Proficiency,Language Proficiency,Screen Time,Bullying Incidents,Household Size
count,98000.000000,98000.000000,98000.000000,98000.000000,98000.000000,98000.000000,98000.000000,98000.000000,98000.000000,98000.000000,98000.000000,98000.000000,98000.000000,98000.000000,98000.000000
mean,49000.500000,16.001949,10.498245,87.529836,2.996621,80.055114,7.003390,79.981318,79.939456,79.944700,80.019677,80.004838,2.504328,1.996735,3.993878
std,28290.307527,1.415319,1.116604,7.220848,1.153689,11.531197,1.156349,11.545166,11.540462,11.552735,11.530846,11.543158,0.864795,1.419676,1.413414
min,1.000000,14.000000,9.000000,75.000057,1.000009,60.002122,5.000038,60.000437,60.000427,60.001036,60.000204,60.000327,1.000027,0.000000,2.000000
25%,24500.750000,15.000000,10.000000,81.279963,1.995280,70.127310,5.999395,69.927298,69.917734,69.942322,70.029975,70.053283,1.759772,1.000000,3.000000
50%,49000.500000,16.000000,10.000000,87.528388,2.994967,80.055771,7.006930,79.996518,79.932998,79.956681,80.011503,79.959596,2.508170,2.000000,4.000000
75%,73500.250000,17.000000,11.000000,93.771893,3.995063,90.036651,8.004904,89.977932,89.882934,89.903344,90.015863,89.994592,3.251803,3.000000,5.000000
max,98000.000000,18.000000,12.000000,99.999482,4.999978,99.999797,8.999964,99.998589,99.999538,99.999266,99.999967,99.999453,3.999930,4.000000,6.000000

### Exporting the dataset as csv

In [28]:
student_data.to_csv('clean_student_data.csv', index=False)

In [ ]:
df = pd.read_csv('clean_student_data.csv')

### Exploring the relationship between Attendence rate and Student performance score

In [55]:
attendance_performance = df[['Attendance Rate', 'Performance Score']]

In [56]:
attendance_performance.head()

   Attendance Rate Performance Score
0        80.487800               Low
1        96.242678            Medium
2        84.649681              High
3        86.158599            Medium
4        88.487638               Low

In [57]:
attendance_performance.tail()

       Attendance Rate Performance Score
97995        86.889422            Medium
97996        99.268557              High
97997        84.697214            Medium
97998        81.720266              High
97999        91.174452            Medium

### Relationship between attendance and Performance score
- The mean and median for all the scores are almost identical. This means that student attendance rate alone is not a good predictor of student performance

In [62]:
attendance_means = attendance_performance.groupby('Performance Score')['Attendance Rate'].agg(['mean', 'median', 'std'])
attendance_means

                        mean     median       std
Performance Score
High               87.542683  87.593746  7.215052
Low                87.523737  87.514130  7.232350
Medium             87.520985  87.468477  7.219274